<html>
    <head>
        <title>Ola's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Ola's Blog</a></h1>
        </div>
        
        <div>
        <p>published: 14:06:1989, 12:17</p>
        <h2><a href="">My first post</a></h2>
        <p>My first post is posted</p>
        </div>
        
        <div>
        <p>published: 18:10:1988, 15:54</p>
        <h2><a href="">My second post</a></h2>
        <p>My second post is poosted</p>
        </div>
    </body>
</html>